name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cypress run
        uses: cypress-io/github-action@v7

      - name: Notify Discord
        if: always()
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          STATUS="${{ job.status }}"
          REPO="${{ github.repository }}"
          RUN_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          BRANCH="${{ github.ref }}"
          COMMIT="${{ github.sha }}"
          PAYLOAD="{\"content\":\"Build status: ${STATUS}\nRepository: ${REPO}\nBranch: ${BRANCH}\nCommit: ${COMMIT}\nRun: ${RUN_URL}\"}"
          echo "Sending notification to Discord..."
          curl -s -H "Content-Type: application/json" -d "$PAYLOAD" "$DISCORD_WEBHOOK"